<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta property="og:site_name" content="Code for Seoul 2014 Annual Report"/>
  <meta property="og:title" content="지난 2014년의 코드포서울을 되돌아보고 그동안의 활동을 소개합니다."/>
  <meta property="og:description" content="6월부터 시작해서 어느덧 코드포서울도 연말을 맞이할 준비를 하고있습니다. 6개월간 어떤 분들이 어떤 생각을 가지고 어떤 모습으로 함께 코드포서울 커뮤니티를 만들어왔는지 확인해보세요!"/>
  <meta property="og:image" content="img/cfs/loading_img.png">
  <meta property="og:url" content="http://2014.codeforseoul.org/">
  <meta property="og:type" content="report"/>

  <title>{{ page.title }}</title>

    <!-- Homepage CSS -->
    <link rel='icon' href='img/cfs/favicon.ico' type='image/x-icon' />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,300,600,700' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap-responsive.css" type="text/css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="css/base.css" type="text/css" media="screen, projection, print" />
    <link rel="stylesheet" href="css/print.css" type="text/css" media="print" />
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6435252/678502/css/fonts.css" />

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>


     {{ page.script }}
  </head>
  <body>

  {{ content }}

  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-57437107-1', 'auto');
    ga('send', 'pageview');

  </script>

  </body>
</html>
